@model TranThiLua0681.Models.TTL50681

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TTL50681</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TTLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TTLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TTLGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TTLGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TTLId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
